@page "/"
@using DCA.Service
@using DCA.Data.Entities
@inject ICalculatorService CalculatorService;
@inject ISnackbar Snackbar
<PageTitle>DCA Calculator</PageTitle>

<MudGrid>
    <MudItem md="12">
        <MudPaper Class="pa-4" Elevation="3">
            <h2 class="mb-1">Add investment</h2>
            <MudGrid class="pt-1">

                <MudItem md="6">
                    <MudSelect AdornmentIcon="@Icons.Material.Filled.CurrencyBitcoin" Label="Select your coin"
                               AnchorOrigin="Origin.BottomCenter" AdornmentColor="Color.Primary"
                               @bind-Value="_investmentSelectedCoin" Variant="Variant.Outlined"
                               HelperText="@InvestmentCoinPriceHelperText" FullWidth="true" Clearable>
                        @foreach (var coin in _topCoins)
                        {
                            <MudSelectItem Value="@coin">@coin.Name (@coin.Symbol)</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem md="6">
                    <MudTooltip Text="You can multiple dates">
                        <MudDatePicker @bind-Date="_selectedInvestmentDate"
                                       FixYear="@_dateInFebruary.Year"
                                       FixMonth="@_dateInFebruary.Month"
                                       PickerMonth="@_dateInFebruary"
                                       Label="Add Days"
                                       DateFormat="dd"
                                       Variant="Variant.Outlined"
                                       PickerClosed="@OnDateAdd"/>
                    </MudTooltip>
                    <MudChipSet T="string"
                                AllClosable="@true"
                                SelectionMode="@SelectionMode.MultiSelection"
                                OnClose="@OnDateDelete"
                                Variant="Variant.Outlined">
                        @for (var i = 0; i < _selectedInvestmentDays.Count; i++)
                        {
                            var localIndex = i;
                            <MudChip Value="@_selectedInvestmentDays[localIndex]"
                                     Color="Color.Primary"/>
                        }
                    </MudChipSet>
                </MudItem>
                <MudItem md="6">
                    <MudDateRangePicker Label="Select a range" Variant="Variant.Outlined" @bind-DateRange="_selectedInvestmentDateRange"
                                        MaxDate="@DateTime.Now"
                                        MinDate="@_minDateInvestment"/>
                </MudItem>
                <MudItem md="4">
                    <MudNumericField @bind-Value="_investmentAmount" Label="€" HelperText="Invested Amount"
                                     AdornmentColor="Color.Primary" Variant="Variant.Outlined"
                                     AdornmentIcon="@Icons.Material.Filled.EuroSymbol" Min="0">
                    </MudNumericField>
                </MudItem>

                <MudItem md="2">
                    <MudButton Class="mt-4" Variant="Variant.Filled" OnClick="AddInvestment" StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary">Add</MudButton>
                </MudItem>
            </MudGrid>

        </MudPaper>
    </MudItem>
    @if (_isLoading)
    {
        <MudOverlay Visible="true" DarkBackground="true" Absolute="true">
            <MudProgressCircular Color="Color.Secondary" Indeterminate="true"/>
        </MudOverlay>
    }
    <!-- Historical Data Section -->
    <MudItem xs="12">
        <MudPaper Class="pa-4" Elevation="4">
            <MudText Typo="Typo.h6">Historical Data</MudText>
            <p>Historical data will be displayed here.</p>
        </MudPaper>
    </MudItem>
</MudGrid>
@code {
    private bool _isLoading = true;
    private List<TopCryptoItem> _topCoins = [];
    TopCryptoItem? _investmentSelectedCoin;

    private string InvestmentCoinPriceHelperText => _investmentSelectedCoin != null
        ? _investmentSelectedCoin.Quote.EUR.Price.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("fr-FR"))
        : "Please don't use currencies with more then 2 decimals";

    private readonly List<string> _selectedInvestmentDays = [];
    private DateTime? _selectedInvestmentDate;
    private readonly DateTime _dateInFebruary = new DateTime(2023, 2, 1);
    private readonly DateTime _minDateInvestment = new DateTime(2022, 01, 01);
    private DateRange? _selectedInvestmentDateRange;
    private int? _investmentAmount;

    protected override async Task OnInitializedAsync()
    {
        _topCoins = (await CalculatorService.GetTop100Currencies()).Data;
        _isLoading = false;
    }

    private void OnDateAdd()
    {
        if (_selectedInvestmentDate.HasValue && !_selectedInvestmentDays.Contains(_selectedInvestmentDate.Value.ToString("dd")))
            _selectedInvestmentDays.Add(_selectedInvestmentDate.Value.ToString("dd"));
    }

    private void OnDateDelete(MudChip<string> date)
        => _selectedInvestmentDays.Remove(date.Value!);

    private async Task AddInvestment()
    {
        if (!ValidateInvestmentInput()) return;
        IsLoading(true);
        Task.Delay(2000);
        CleanInvestmentForm();
        IsLoading(false);
        // var investment = new Investment
        // {
        //     Coin = _investmentSelectedCoin,
        //     Amount = _investmentAmount,
        //     Dates = _selectedInvestmentDays
        // };
        //
        // await CalculatorService.AddInvestment(investment);
    }

    private bool ValidateInvestmentInput()
    {
        List<string> errorMessages = [];
        
        if (_investmentSelectedCoin == null)
            errorMessages.Add("Please select a coin.");

        if (_selectedInvestmentDays.Count == 0)
            errorMessages.Add("Please select the monthly investment days.");

        if (_investmentAmount is null or 0)
            errorMessages.Add("Invalid value for the investment amount.");

        if (_selectedInvestmentDateRange == null)
            errorMessages.Add("Please select a date range.");
        
        if (errorMessages.Count == 0) return true;
        
        var errorList = string.Join("", errorMessages.Select(msg => $"<li>{msg}</li>"));
        Snackbar.Add(new MarkupString($"<ul>{errorList}</ul>"), Severity.Error);

        return false;
    }

    private void CleanInvestmentForm()
    {
        _investmentSelectedCoin = null;
        _selectedInvestmentDays.Clear();
        _selectedInvestmentDate = null;
        _selectedInvestmentDateRange = null;
        _investmentAmount = 0;
    }

    private void IsLoading(bool value)
    {
        _isLoading = value;
        StateHasChanged();
    }
}